*{
	margin:0;
}
.App {
  box-sizing: border-box;
}
.Appdiv{
  width:85%;
  margin:auto;
  background:none;
  box-sizing:border-box;
}

.title {
  color:#6C63FF;
	padding:40px 0;
	font-weight:500;
}
.m5 {
	margin:25px;
	font-weight: 500;
}
.m10 {
	margin:10px 0;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}
.grow:hover{
    transform: scale(1.02);
}

@media (max-width:600px) {
  .App{
  	width:95%;
    font-size:.7rem;
  }
  .Appdiv{
    width:100%;
    padding:20px 10px;
    background:url('./bg.png');
    background-size:100%;
  }
  .title{
    color:#000;
  	padding:20px 0;
  }
}
a{
  color:#00BFA6;
}
